<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="container">
    <div class="item chat-menu">
      <span>chatname</span>
      <button class="chat-join-btn">join</button>
      <button class="chat-leave-btn">leave</button>
    </div>

    <div class="item create-chat">
      <span>create chat</span>
      <input class="find-user" type="text" placeholder="chatname">
      <button class="find-user-btn">ok</button>
    </div>

    <div class="item profile-menu">
      <span>search</span>
      <input class="find-user" type="text" placeholder="find user">
      <button class="find-user-btn">ok</button>
    </div>

    <div class="item all-chats"> all chats
      <ul>
        <li class="item">blame</li>
      </ul>
    </div>

    <div class="item chat-area">
      <div class="message-group-received">
        <div>
          <img src="https://api.adorable.io/avatars/100/webdeveducation.png" />
        </div>

        <div class="message-received">
          <div class="message-received-text">
            Hey manaaaaaaaadsdfffffffff ffffffffffffffffffffffffffs ffffff! How'fffffffffffs itfffffffffffffff going?
          </div>
        </div>

      </div>

      <div class="message-group-sent">
        <div class="message-sent">
          <div class="message-sent-text">
            Hey man! How's it going?
          </div>
          <div class="message-sent-status">
            <img src="https://api.adorable.io/avatars/100/webdeveducation.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="item friends-menu">chatrooms
      <ul class="friends-list">
        <span class="friend">
          <li class="item">rjavchina</li>
        </span>
      </ul>
    </div>

    <div class="item chat-input input-container">
      <textarea class="input-message" name="message" id="message"></textarea>
      <button class="send-message">send</button>
    </div>

  </div>
</body>

</html>


<!-- <div class="container">
  <div class="temp allchats-container">
  </div>

  <div class="temp chat-container">



  </div>

  <div class="temp profilemenu-container"></div>
</div> -->